<div class="container">
  <div class="row justify-content-center">
  <div class="col-6">


    <div class="card" style="width: 18rem;">
      <img src="https://voyageursintrepides.com/wp-content/uploads/2022/06/ou-manger-nantes-meilleurs-restaurants-1.jpg" class="card-img-top" alt="">
      <div class="card-body">
    <p><%= @restaurant.adress %></p>
    <p><%= @restaurant.rating %></p>
        <h5 class="card-title"><%= @restaurant.name %></h5>

        <p class="card-text">Restaurant cher et sans saveur . Avec un tel emplacement le poisson devrait être à la hauteur ! Insipide et élastique . Donc étonné du placement dans TripAdvisor .</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

      </div>
    </div>
  </div>
</div>
